<nav class="navbar navbar-expand-lg bg-dark sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ArchCamp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/buildings">Buildings</a>
        <a class="nav-link" href="/buildings/new">New Building</a>
      </div>
      <div class="navbar-nav ms-auto">
        <!-- set login to right end use "margin start auto" -->
        <% if (!currentUser) {%>
        <a class="nav-link" href="/register">Register</a>
        <a class="nav-link" href="/login">Login</a>
        <% } else {%>
        <a class="navbar-text pe-3">Hello, <%= currentUser.username %></a>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
