<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DesignCamp</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/layouts/custom.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>

  <body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <nav class="nav nav-masthead justify-content-end float-md-right">
            <h3 class="justify-content-start me-auto fs-5 nav-link text-white">DesignCamp</h4>
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="/buildings">Buildings</a>
            <% if(!currentUser) { %>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } else { %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
          </nav>
        </div>
      </header>
      <main class="px-3">
        <h1>DesignCamp</h1>
        <p class="lead">
          Welcome! <br />
          Jump right in and explore our many buildings. <br />
          Feel free to share some of your own and comment on others!
        </p>
        <a
          href="/buildings"
          class="btn btn-lg btn-primary font-weight-bold border-white"
          >View Buildings</a
        >
      </main>

      <footer class="mt-auto text-white-50">
        <p>&copy; 2023 DesignCamp</p>
      </footer>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
